<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:db.config.properties"/>
    </bean>

    <!-- Beans to support DBunit for unit testing with Oracle. -->
    <bean id="dbUnitDatabaseConfig" class="com.github.springtestdbunit.bean.DatabaseConfigBean">
        <property name="datatypeFactory">
            <bean class="org.dbunit.ext.oracle.OracleDataTypeFactory"/>
        </property>
    </bean>
    <bean id="dbUnitDatabaseConnection" class="com.github.springtestdbunit.bean.DatabaseDataSourceConnectionFactoryBean">
        <property name="databaseConfig" ref="dbUnitDatabaseConfig"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="schema" value="NEWS_SCHEMA_TEST"/>
    </bean>

    <!-- Oracle connection pool -->
    <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource"
          destroy-method="close">
        <property name="connectionCachingEnabled" value="true" />
        <property name="URL" value="${db.url}" />
        <property name="user" value="${db.username}" />
        <property name="password" value="${db.password}" />
        <property name="connectionCacheProperties">
            <value>
                MinLimit:1
                MaxLimit:20
                InitialLimit:1
                ConnectionWaitTimeout:120
                InactivityTimeout:180
                ValidateConnection:true
            </value>
        </property>
    </bean>

    <context:component-scan base-package="com.epam.newsmanagement.model.persistence" />

    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="${db.driver}" />-->
        <!--<property name="url" value="${db.url}" />-->
        <!--<property name="username" value="${db.username}" />-->
        <!--<property name="password" value="${db.password}" />-->
    <!--</bean>-->

</beans>